<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.candidatecrm.backup</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>__BACKUP_SCRIPT__</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>CANDIDATE_CRM_BACKUP_CONFIG_POINTER</key>
    <string>__CONFIG_POINTER__</string>
  </dict>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>2</integer>
    <key>Minute</key>
    <integer>30</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>__LAUNCHD_STDOUT_LOG__</string>
  <key>StandardErrorPath</key>
  <string>__LAUNCHD_STDERR_LOG__</string>
</dict>
</plist>
